<div>
<p>Rahul Gandhi, in an interaction with the Indian Journalists' Association in London, said his Cambridge speech had
nothing insulting India. "If there is someone who defames India on foreign soil it is the Indian prime minister," Rahul
Gandhi said.</p>
<p>The reasons cited for the motion are that ‘caste-based oppression is experienced by various faith communities in South
Asia and the Caribbean’ and that ‘there is a rise in documented caste-based discrimination in the diaspora, including
Toronto’</p>
</div>
