/* You can add global styles to this file, and also import other style files */
.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height:100vh;
}
button{
  padding:15px 10px;
  background-color: white;
  color:black;
  font-weight:500;
  margin-right:5px;
  border: none;
  width:100px;
  cursor: pointer;
}
button:disabled{
  background-color: gray;
  color: white;
  opacity:0.8;
  cursor: not-allowed;
}
.block{
  width: 320px;
  height:350px;
  display: flex;
  background: linear-gradient(270deg,red,blue);
}
